_build/
target/
.mooncakes
node_modules/

# component build artifacts
components/*/impl_*.wasm
components/*/component.wasm
components/*/out/

# hosts build artifacts
hosts/wasmtime/target/
hosts/deno/node_modules/
hosts/deno/tests/fixtures/target/
